<div>
    <div class="div-menu" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [routerLink]="['/list-product']">INICIO</button>
        <button mat-button [routerLink]="['/list-business']">EMPRESAS</button>
        <button mat-button [routerLink]="['/product']">PRODUCTOS</button>
        <button mat-button [routerLink]="['/profile']">PERFIL</button>
    </div>
    <div class="profileDataForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <form [formGroup]="editPersonalData" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div class="imgProfile" formGroupName="personalData" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                <img src="../../../assets/user_profile.png" width="120px" height="120px" alt="" />
            </div>
            <h2>Datos Personales</h2>
            <div class="personalData" formGroupName="personalData" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">     
                
                <div fxLayout="column" fxLayout.md="column" fxLayout.lg="row" 
                fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="80px">
                    <mat-form-field-control class="full-width" fxLayout="column" fxLayoutAlign.sm="center center">
                        <mat-form-field class="full-width">
                            <mat-label>Nombre:</mat-label>
                            <input type="text" class="input-form form-control" name="name" formControlName="name" matInput
                                placeholder="Nombre" />
                        </mat-form-field>
                    </mat-form-field-control>
    
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Teléfono:</mat-label>
                            <input type="number" class="input-form form-control" name="phone_number"
                                formControlName="phone_number" matInput placeholder="Teléfono" />
                        </mat-form-field>
                    </mat-form-field-control>
                </div>
                
                <div fxLayout="column" fxLayout.md="column" fxLayout.lg="row" 
                fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="80px">
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Apellido:</mat-label>
                            <input type="text" class="input-form form-control" name="Apellido" formControlName="surname"
                                matInput placeholder="Apellido" />
                        </mat-form-field>
                    </mat-form-field-control>
    
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Correo:</mat-label>
                            <input type="text" class="input-form form-control" name="Correo" formControlName="email"
                                matInput placeholder="Correo" />
                        </mat-form-field>
                    </mat-form-field-control>
                </div>

                <div fxLayout="column" fxLayout.md="column" fxLayout.lg="row" 
                fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="80px">
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Usuario:</mat-label>
                            <input type="text" class="input-form form-control" name="Usuario" formControlName="username"
                                matInput placeholder="Usuario" />
                        </mat-form-field>
                    </mat-form-field-control>
    
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Ciudad:</mat-label>
                            <input type="text" class="input-form form-control" name="Ciudad" formControlName="city"
                                matInput placeholder="Ciudad" />
                        </mat-form-field>
                    </mat-form-field-control>
                </div>

                <div fxLayout="column" fxLayout.md="column" fxLayout.lg="row" 
                fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="80px">
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>DNI:</mat-label>
                            <input type="text" class="input-form form-control" name="Dni" formControlName="dni" matInput
                                placeholder="Dni" />
                        </mat-form-field>
                    </mat-form-field-control>
    
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Puesto de Trabajo:</mat-label>
                            <input type="text" class="input-form form-control" name="Rol" formControlName="rol" matInput readonly
                                placeholder="Puesto de Trabajo" />
                        </mat-form-field>
                    </mat-form-field-control>
                </div>

            </div>
            <h2>Datos empresariales</h2>
            <div class="businessData" formGroupName="businessData" fxLayout="column" fxLayoutAlign="center center"
                fxLayoutGap="20px">
                
                <div fxLayout="column" fxLayout.md="column" fxLayout.lg="row" 
                fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="80px">
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Nombre de la empresa:</mat-label>
                            <input type="text" class="input-form form-control" name="nameBusiness" readonly
                                formControlName="nameBusiness" matInput placeholder="Nombre de la empresa" />
                        </mat-form-field>
                    </mat-form-field-control>
    
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Dirección de la empresa:</mat-label>
                            <input type="text" class="input-form form-control" name="addressBusiness" readonly
                                formControlName="addressBusiness" matInput placeholder="Dirección de la empresa" />
                        </mat-form-field>
                    </mat-form-field-control>
                </div>

                <div fxLayout="column" fxLayout.md="column" fxLayout.lg="row" 
                fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="80px">
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>CIF de la empresa:</mat-label>
                            <input type="text" class="input-form form-control" name="cifBusiness" readonly
                                formControlName="cifBusiness" matInput placeholder="CIF de la empresa" />
                        </mat-form-field>
                    </mat-form-field-control>
    
                    <mat-form-field-control class="full-width" fxLayout="column">
                        <mat-form-field class="full-width">
                            <mat-label>Teléfono de la empresa:</mat-label>
                            <input type="text" class="input-form form-control" name="phoneBusiness" readonly
                                formControlName="phoneBusiness" matInput placeholder="Teléfono de la empresa" />
                        </mat-form-field>
                    </mat-form-field-control>
                </div>     

            </div>
            <button mat-raised-button color="primary" (click)="this.updateUser()">Guardar Datos</button>
        </form>
    </div>
</div>