.card-flex {
    min-width: 250px;
    min-height: 225px;
    margin: 0 2rem;
}

.number {
    font-size: 4em;
}

.txt {
    text-align: center;
}

.content {
    padding: 20px;
}

.mat-card-image {
    margin-top: 0px !important;
}